.DS_Store
.idea/
/components_local
PizzaOrderProcessor/.idea/
PizzaOrderProcessor/bin/
PizzaOrderProcessor/obj/
PizzaWeb/node_modules
/Debug
package-lock.json
PizzaOrderProcessor/.vs/
aca-dapr-components_local
components_local_*
PizzaOrderProcessor/Properties/serviceDependencies.local.json
PizzaOrderProcessor/Properties/serviceDependencies.local.json.user