.DS_Store
.idea/
/components_local
PizzaOrderProcessor/aca-dapr-components
PizzaOrderProcessor/.idea/
PizzaOrderProcessor/bin/
PizzaOrderProcessor/obj/
PizzaWeb/node_modules
/Debug
package-lock.json
PizzaOrderProcessor/.vs/
aca-dapr-components_local
components_local_*
PizzaOrderProcessor/Properties/serviceDependencies.local.json
PizzaOrderProcessor/Properties/serviceDependencies.local.json.user
/PizzaOrderProcessor/PizzaOrderProcessor.csproj.user
/PizzaOrderProcessor/.config
/PizzaOrderProcessor/obj/PizzaOrderProcessor.csproj.nuget.dgspec.json
